<.flash_group flash={@flash} />

<div class="flex justify-center items-center h-screen mx-auto gap-2">
  <h1 class="text-5xl font-extrabold drop-shadow-xl">Reglito</h1>
  <img class="h-11" src={~p"/images/pencil.gif"} alt="pencil" />
</div>
